<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213361373065-5s2lbq7jfg58nf2e5h3cvdeg6v5vjhus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213361373065-5s2lbq7jfg58nf2e5h3cvdeg6v5vjhus</string>
	<key>API_KEY</key>
	<string>AIzaSyBrHOrpN3LLhrd-tUhnql9GmmfUqQ8G13g</string>
	<key>GCM_SENDER_ID</key>
	<string>213361373065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.HifeSurvival</string>
	<key>PROJECT_ID</key>
	<string>planar-hangout-385012</string>
	<key>STORAGE_BUCKET</key>
	<string>planar-hangout-385012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213361373065:ios:d37d60ba2193165ec2bb58</string>
</dict>
</plist>